<h1>Knoxville Food Trucks </h1>

<%= form_tag food_trucks_path, method: :get do %> 
  <%= label_tag :Name %>
  <%= text_field_tag :search, @params[:search], placeholder: "Captain Muchachos"%>
 <%= label_tag :Cuisine %>
  <%= text_field_tag :kind_of_food, @params["kind_of_food"], placeholder: "Tacos" %>
    <%= submit_tag "Search!" %>
<% end  %>


<div class="cards">
  <% @food_trucks.each do |food_truck| %>
   <div class="card">
    <h3><%= link_to food_truck.name, food_truck %><br>
    <%= link_to(image_tag(food_truck.image_url), food_truck) %>
 </div>
    <% end %>