<div class="show">
<h1><%= link_to @food_truck.name,  @food_truck.schedule %>- Schedule</h1><br>
<%= image_tag @food_truck.image_url %><br>

</div>
    <%=  @food_truck.gluten_free %> <%=  @food_truck.vegetarian %>
<%= form_for [@food_truck, @review] do |f| %>
<%= render partial: "layouts/errors", locals: {record: @review} %>
   <%= f.label "leave a Review" %><br>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<div class="cards">
<%= @food_truck.reviews.each do |review| %>
<%= render partial: "reviews/review", locals: {review: review} %>
   <% end %>
</div>


