<div class="show">
<h1>Schedule: <%= link_to @food_truck.name,  @food_truck.schedule %></h1><br>
<%= image_tag @food_truck.image_url %><br>

</div>
    <p>Cuisine: <%= @food_truck.kind_of_food %>
    <p>Gluten Free: <%= human_boolean(@food_truck.gluten_free) %></p>  
    <p> Vegetarian: <%= human_boolean(@food_truck.vegetarian) %> </p>

<%= form_for [@food_truck, @review] do |f| %>
  <%= render partial: "layouts/errors", locals: {record: @review} %>  
   <%= f.label "Title" %><br>
   <%= f.text_area :title %><br>
   <%= f.label "Review" %><br>
  <%= f.text_area :content %>
  <%= f.submit  %>
<% end %>

<div class="cards">
  <% @food_truck.reviews.each do |review|%>
  <div class="review">
   User: <%= review.user.username %><br>
   Review: <%= review.content %><br>
   </div>
    <% end %>
</div>
