<nav>
  <% if logged_in? %>
    <%= link_to "All Food Trucks", food_trucks_path %> 
    <%= link_to "My Reviews", food_truck_reviews_path(current_user)%> 
    <%= link_to "My Profile", user_path(current_user) %> 
    <%= link_to "Logout", logout_path, method: "delete" %>
      <h2>Welcome <%= current_user.username %></h2>
  <% else %>
    <%= link_to "All Food Trucks", food_trucks_path %> |
    <%= link_to "Log in with Google", "/auth/google_oauth2" %> |
    <%= link_to "Log in", login_path %> |
    <%= link_to "Sign up", new_user_path %> |
  
<% end %>


</nav>