<!DOCTYPE html>
<html>
  <head>
    <title>Street Eats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap" rel="stylesheet">
    <link rel='icon' href='../../assets/stylesheets/favicon.png' type='image/x-icon'/ >
    
  </head>

  <body>
  <%= render "layouts/nav" %>

    <%= yield %>
  </body>

  <div class="footer">
    <div class="footer-content">
  <p> Street Eats© 2021 </p>
  </div>
  </div>
</html>
